<h1>Stores</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Seller</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td><%= store.name %></td>
        <td><%= store.description %></td>
        <td><%= store.price %></td>
        <td><%= store.user.name %></td>
        <td><%= link_to 'Show', store %></td>
        <td>
          <% if can? :update, store %>
            <%= link_to 'Edit', edit_store_path(store) %>
          <% end %>
        </td>
        <td>
          <% if can? :destroy, store %>
            <%= link_to 'Destroy', store, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :create, Store %>
  <%= link_to 'New Item', new_store_path %>
<% end %>
