<%= form_with(model: user) do |form| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, value: user.name %>
  </div>

  <div class="field">
    <%= form.label :email %><br>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :role_id %>
    <%= form.text_field :role_id %>
  </div>

  <div class="field">
    <%= form.label :password %><br>
    <%= form.password_field :password, placeholder: "Leave blank if unchanged" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
