<div class="flex-container">
    <header>
      <% if user_signed_in? %>
        Signed in as <%= current_user.email %>.<br>
        Not you?
        <%= link_to "Edit profile", edit_user_registration_path %>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
        <%= link_to "Users", users_path %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path %>
        <%= link_to "sign in", new_user_session_path %>
        <%= link_to "Users", users_path %>
      <% end %>

      <nav>
        <% if @current_user&.admin? %>
          <%= link_to "Store", stores_path %>          
          <%= link_to "Roles", roles_path %>
          <%= link_to 'Admin Page', admin_path %>
        <% end %>
      </nav>
    </header>

    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, id: "flash_#{name}" %>
    <% end %>
</div>